#order_card_container {
    width: 1600px;
    height: calc(100vh - 150px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2% 0;
}

.status_td {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.status {
    width: 45px;
    height: 45px;
}

.status>img {
    width: 100%;
    height: 100%;
}

.view_order_img {
    background: none;
    border: none;
}

.view_order_img>img {
    width: 20px;
    height: 20px;
}